.vscode/**
typings/**
**/*.ts
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
npm-debug.log
screenshots/**
typings/**/*
.vscode/**/*
tsconfig.json
.gitignore
node_modules/.bin/**
node_modules/typescript/**

